<section class="table-content">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center" >Nome</th>
            <th scope="col" class="text-center">Endereço</th> 
            <th scope="col"  class="text-center">Telefone</th>
            <th scope="col"  class="text-center">Empresa</th>
            <th scope="col"  class="text-center">Status</th>  
            <th scope="col" class="text-center">Ações</th> 
          </tr>
        </thead>
        <tbody>   
          <% let i= 0; %>
          <% allJobs.forEach(job => { %> 
              <% i++; %>
                <tr >
                    <th scope="row"><%= i %></th>
                    <td class="text-center d-flex align-items-center">
                      <div class="business-photo me-3"> 
                        <% if (job.jobPhoto) { %>
                          <img src="/uploads/<%=job.jobPhoto %>" alt="">
                        <% }else { %>
                          <img src="https://img.freepik.com/premium-vector/job-newspaper-icon-blue-color-design_965649-13412.jpg?w=826" alt="">
                         <% } %>
                      </div>
                      <%= job.jobName %>
                    </td>
                    <td class="text-center"><%= job.jobLocation %></td> 
                    <td class="text-center"><%= job.jobContact.phone %></td> 
                    <td class="text-center"><%= job.businessName %></td>    
                   <td class="text-center"> 
                    <% if (job.status == "Em aberto") { %>
                            <span class="badge text-bg-success">
                               <%= job.status %>
                            </span>
                    <% } else if(job.status == "Processo Seletivo em Aberto") { %> 
                        <span class="badge text-bg-warning">
                            <%= job.status %>
                         </span>
                    <%  }else if(job.status == "Vaga Encerrada"){ %>
                        <span class="badge text-bg-danger">
                            <%= job.status %>
                         </span>
                    <% }%>
                   </td> 
                    <td class="d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-dark"  data-bs-toggle="modal"  data-bs-target="#staticBackdrop-Edit-<%=i%>"><i class=" icon ph-bold ph-pencil-simple"></i></button> 
                    <%- include('EditJobModal.ejs',{i:i,job:job}) %>
                    <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal"  data-bs-target="#staticBackdrop-Delete-<%=i%>"><i class="icon ph-bold ph-trash"></i> </button> 
                    <%- include('DeleteJobModal.ejs',{i:i,job:job, url:"/admin/jobs/delete/"+job._id}) %>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"   data-bs-target="#staticBackdrop-Inspect-<%=i%>"><i class=" icon ph-bold ph-eye"></i> </button> 
                    <%- include('InspectJobModal.ejs',{i:i,job:job}) %>
                  </td>
                </tr>
                <% }) %>
          </tbody>
      </table>

</section> 
